:root {
    --primary-color: #24241d;
    --secondary-color: #fff2dd;
    --tertiary-color: #ffa826;
    --quaternary-color: #ff8c00;
    --quinary-color: #1a1816;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-wrapper {
    position: relative;
}

/* nav bar styles */

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    background: var(--quinary-color);
}

.logo {
    width: 60vw;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo img {
    width: 100%;
    height: 100%;
    max-width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    font-weight: 400;
}

nav ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
    padding: 5px;
    border: 1px solid transparent;
}

li:hover {
    border: 1px solid var(--tertiary-color);
    padding: 5px;
    border-radius: 5px;
}

li a {
    text-decoration: none;
    color:var(--tertiary-color);
    font-weight: 1;
}

li a:hover {
    color: var(--quaternary-color);
}

/* body styles */

body {
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
    color: var(--secondary-color);
}

/* hero form styles */

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 100px;
}

#hero h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero legend {
    margin-bottom: 10px;
}

#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

#hero input[type='submit']:hover {
    background-color: var(--quaternary-color);
}

/* features section sytles */

#features {
    margin: 30px 10%;
}

.flex {
    display: flex;
    margin-bottom: 20px;
}

#features img {
    display: flex;
    align-items: center;
    justify-self: center;
    height: 125px;
    width: 125px;
    color: var(--tertiary-color);
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

/* lifestyle section sizing */

#lifestyle {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* pricing section styles */

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 5);
    margin: 10px;
    border: 1px solid var(--quaternary-color);
    border-radius: 3px;
}

.product .level {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product h2 span {
    font-family: monospace;
}

.product h2 {
    margin-top: 10px;
}

.product ul {
    margin: 15px 0;
}

.product ul li{
    margin: 15px 0;
}

.product button {
    margin: 20px 0;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);

}

.product button:hover {
    background-color: var(--quaternary-color);
}

/* footer styles */

footer {
    margin-top: 30px;
    background-color: var(--quinary-color);
    padding: 20px;
}

footer ul {
    display: flex;
    justify-content: flex-end;
}

footer ul li {
    padding: 0 10px;
    border: 1px solid transparent;
}

footer ul li:hover {
    border: 1px solid transparent;
    padding: 0 10px;
    border-radius: 0;
}

a {
    color: var(--tertiary-color);
    text-decoration: none;
}

/* media queries with smaller window sizes */

@media (max-width: 800px) {
    header {
        font-size: 0.7em;
    }

    nav ul {
        flex-direction: column;
        font-size: 0.9em;
    }
    
    #pricing {
        flex-direction: column;
    }

    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    footer li {
        margin: 10px auto;
    }
    
    footer span {
        margin: 0 auto;
    }
}
